@charset "utf-8";
/* CSS Document */
.container{
	width: 100%;
	height: 1500px;
	background-color:white;
}

.menu
{
	width: 100%;
	height: 70px;	
	position: relative;
	margin: 0px;

}

.menu_con
{
	
	height: 90px;
	float: left; 
}

.menu_con ul
{
	list-style: none;
	position: absolute;
	padding: 0px 10px;
	margin: 0px;
}

.menu_con ul li
{
	float:left;
	margin: 5px 0px;
	padding: 0px 30px;
	position: relative;
}
.menu_con ul li ul{
	position: absolute;
	background-color: #FFFFFF;
	left: 0;
	visibility: hidden;
}
.menu_con ul li:hover ul{
	visibility: visible;
}

.menu_con ul li:hover
{
	float: left;
	background-color: #f3fdfe;
	border-radius: 12px;
}

.menu_con ul li a
{
	text-decoration: none;
}
.header
{
	width: 100%;
	height: 150px;
	background-color: #daf1fe;
	text-align-last:center;
	padding: 30px 0px 0px 0px;
}

button
{
	width: 110px;
	height:100px;
	background-color:#4FB8E1;
	margin-bottom: 20%;
	margin-left: 35%;
	border-radius: 12px;
}

.slider
{
	width: 100%;
	height: 375px;
	background-color:white;
}
.data{
	width: 25%;
	height: 285px;
	float: left;
	margin-top: 3.2%;
	margin-right: 4%;	
	margin-left: 4%;
	overflow: hidden;
}
.data img{
	opacity: 1;
	transform: scale(1);
	transition: all 0.3s linear;
}
.data:hover img{
	opacity: 0.5;
	transform: scale(1.2);
}
.labee{
	width: 30%;
	height: 50px;
	background-color: aqua;
	
}
.midd{
	width: 100%;
	height: 429px;
}
.bottom{
width: 100%;
height: 300px;
background-color:#daf1fe;
text-align-last:center;
padding: 200px 0px 0px 0px;
}
.end{
	width: 100%;
	height: 21px;
	background-color: white;
	float: left;
}






